@CHARSET "US-ASCII";


.formtable, .offers {
	padding: 10px;
	border: 1px solid blue;
	text-align: left;
}

table.offers td {
	border-bottom: 1px dashed brown;
}

input[type=text], input[type=password] {
	width: 250px;
}

textarea {
	width: 250px;
	height: 300px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

.valid {
	font-size: smalll;
	color: green;
	margin-left: 10px;
}

div.header {
	position: relative;
	text-align: center;
	background-color: red;
	height: 40px; 
}

div.toolbar {
	position: relative;
	padding: 10px;
}

div.content {
	position: relative;
	padding: 20px;

}

div.footer {
	color: grey;
	font-size: small;
}

a.title {
	font-size: 20px;
	color: white; 
}

.login {
	position: absolute;
	top: 10px;
	right: 30px;
	color: white;
} 

.offers {
	border: 1px solid blue;
}

div.message {
	margin-bottom: 20px;
}

span.subject {
	position: relative;
	margin: 10px;
	color: brown;
	font-size: large;
}

span.messageContent {
	display: block;
	margin: 10px;
}

span.name {
	position: relative;
	margin: 10px;
	font-style:italic;
	border-bottom: 1px dashed brown;
}

form.replyForm {
	padding: 10px;
	/* display: none;
 */}

textarea.replyArea {
	height: 50px;
}
